/*place your css in this file here*/
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color :yellowgreen;
    }
body{ background-color:lightblue;
     }
ul{list-style-type:none;
    background-color: aqua ;
    text-align: center;
    border: 2px solid blue;*
   }
li{display:inline;
   padding: 5px;
   }
